@page "/admin/users"
@using Microsoft.AspNetCore.Authorization
@using Server.Data
@using Server.Services
@attribute [Authorize(Policy = Roles.OfficerPolicy)]

@inject UserService UserService
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Manage Users</PageTitle>

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Manage Users</h1>

        <a href="/admin/users/create" class="btn btn-primary mb-3">Create User</a>

        @if (users is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <RadzenTable>
                <RadzenTableHeader>
                    <RadzenTableHeaderRow>
                        <RadzenTableHeaderCell>Name</RadzenTableHeaderCell>
                        <RadzenTableHeaderCell>Email</RadzenTableHeaderCell>
                        <RadzenTableHeaderCell>Phone</RadzenTableHeaderCell>
                        <RadzenTableHeaderCell>Address</RadzenTableHeaderCell>
                        <RadzenTableHeaderCell>Role</RadzenTableHeaderCell>
                        <RadzenTableHeaderCell></RadzenTableHeaderCell>
                    </RadzenTableHeaderRow>
                </RadzenTableHeader>
                <RadzenTableBody>
                    @foreach (var user in users)
                    {
                        <RadzenTableRow>
                            <RadzenTableCell>@user.FullName</RadzenTableCell>
                            <RadzenTableCell>@user.Email</RadzenTableCell>
                            <RadzenTableCell>@user.PhoneNumber</RadzenTableCell>
                            <RadzenTableCell>@user.StreetAddress</RadzenTableCell>
                            <RadzenTableCell>@string.Join(", ", user.RoleNames)</RadzenTableCell>
                            <RadzenTableCell>
                                <a href="/admin/users/edit/@user.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            </RadzenTableCell>
                        </RadzenTableRow>
                    }
                </RadzenTableBody>
            </RadzenTable>
        }
    </div>
</div>

@code {
    private List<ApplicationUser>? users;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetAllUsersWithRolesAsync();
    }
}
